# If you want electrum to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum.desktop

[Desktop Entry]
Comment=Lightweight Unlimitedcoin Client
Exec=electrum-ulm %u
GenericName[en_US]=Unlimitedcoin Wallet
GenericName=Unlimitedcoin Wallet
Icon=electrum-ulm
Name[en_US]=Electrum Unlimitedcoin Wallet
Name=Electrum Unlimitedcoin Wallet
Categories=Finance;Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/unlimitedcoin;

